
//Values
$navbat-height: 70px;
$footer-height: 150px;
$hero-height: 200px;
$blue-section-height: 250px;
$yellow-section-height: 250px;
$grey-section-height: 350px;
$light-color: 10;
$heavy-color: 30;
$light-hover-color: 5;
$heavy-hover-color: 15;

//Colors
$noir: #000000;
$rouge: #ff0000;
$bleu: #1100ff;
$jaune: #fffb00;
$gris: #8a8a8a;

//Breakpoints
$xsmall:370px;
$small:700px;
$medium:1080px;
$large:1400px;
$xlarge:1920px;

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;
    height: $navbat-height;
    background-color: $noir;
    
}

.hero {
    width: 100%;
    height: $hero-height;
    background-color: $rouge;
    @media screen and (max-width: $xlarge){
        height: 400px;
    }
}

.footer {
    width: 100%;
    height: $footer-height;
    background-color: $noir;
}

.blue-section {
    width: 100%;
    height: $blue-section-height;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (max-width: $medium) { flex-direction: column;}
    @media screen and (max-width: $small) { flex-direction: column-reverse}

    .bs-bloc {
        flex: 1;
        height: 100%;

        &.light-blue{
            background-color: lighten($bleu, $light-color);
            &:hover{
                background-color: lighten($bleu, $heavy-hover-color);
            }
        }
        &.dark-blue{
            background-color: darken($bleu, $light-color);
            &:hover{
                background-color: darken($bleu, $heavy-hover-color);
            }
        }
    }
}

.yellow-section {
    width: 100%;
    height: $yellow-section-height;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .yl-bloc {
        flex: 1;
        height: 100%;
        
        &.light-yellow {
            background-color: $jaune;
            &:hover{
                background-color: lighten($jaune, $heavy-hover-color);
            }
        }
        &.dark-yellow {
            background-color: darken($jaune, $light-color);
            &:hover{
                background-color: darken($jaune, $light-hover-color);
            }
        }
    }
}

.grey-section {
    width: 100%;
    height: $grey-section-height;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (max-width: $medium) { }

    .gy-bloc {
        flex: 1;
        height: 100%;

        &.grey {
            background-color: $gris;
            &:hover{
                background-color: darken($gris, $light-hover-color);
            }
        }
        &.light-grey {
            background-color: lighten($gris, $heavy-color);
            &:hover{
                background-color: darken($gris, 1);
            }
        }
        &.dark-grey {
            background-color: darken($gris, $heavy-color);
            &:hover{
                background-color: darken($gris, 35);
            }
        }
    }
}

@media screen and (min-width: $xlarge){
    .inline{
        height: $blue-section-height;
        width: 100%;
        display: inline-flex;
        flex-wrap: nowrap;
    }
}
/*
@media (max-width: $medium) {
    .blue-section {
        flex-direction: column;
    }
}
*/