
//Values
$navbat-height: 70px;
$hero-height: 200px;
$blue-section-height: 250px;
$light-color: 20;
$dark-color:20;

//Colors
$noir: #2e2d2d;
$rouge: #bd2a2a;
$bleu: #3428d8;

//Breakpoints
$xsmall:370px;
$small:700px;
$medium:1080px;
$large:1400px;
$xlarge:1920px;

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.navbar{
    width: 100%;
    height: $navbat-height;
    background-color: $noir;
    
}

.hero{
    width: 100%;
    height: $hero-height;
    background-color: $rouge;
}

.blue-section{
    width: 100%;
    height: $blue-section-height;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (max-width: $medium) { flex-direction: column;}
    @media screen and (max-width: $small) { flex-direction: column-reverse}

    .bs-bloc {
        flex: 1;
        height: 100%;

        &.light-blue{
            background-color: lighten($bleu, $light-color);
        }
        &.dark-blue{
            background-color: darken($bleu, $dark-color);
        }
    }
}

/*
@media (max-width: $medium) {
    .blue-section {
        flex-direction: column;
    }
}
*/